<div class="card" style="padding: 20px;">
  <div class="card-block">
    <div class=" text-center">
      <h3><i class=" fa fa-pencil"></i> New Request</h3>
    </div>
    <hr class="mt-2 mb-2">

<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Event_Name, 'Event Name', style:"font-size: 20px" %>
    <%= f.select :event_id, options_from_collection_for_select(Event.order(:name).all, "id", "name", params[:event_id]|| request.event_id) %>
  </div>
  <div class="field">
    <%= f.label :description, style:"font-size: 20px" %>
    <%= f.text_area :description, style:"font-size: 20px; height:100%" %>
  </div>
  <div class="field">
    <%= f.label :delivery_arrangement, style:"font-size: 20px" %>
    <%= f.text_area :delivery_arrangement, style:"font-size: 20px; height:100%" %>
  </div>
  <div class="field">
    <%= f.label :cost, style:"font-size: 20px" %>
    <%= f.text_field :cost, style:"font-size: 20px; height:100%" %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Request Image", style:"font-size: 20px" %>
    <!-- changed to file_field -->
    <%= f.file_field :image_url %>
  </div>
  <div class="actions text-center">
    <%= f.submit 'Submit', class: 'btn success-color' %>
  </div>
<% end %>

</div>
</div>
