<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Event_Name %>
    <%= f.select :event_id, options_from_collection_for_select(Event.order(:name).all, "id", "name", params[:event_id]|| request.event_id) %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :delivery_arrangement %>
    <%= f.text_area :delivery_arrangement %>
  </div>
  <div class="field">
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Request Image" %>
    <!-- changed to file_field -->
    <%= f.file_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
