<h1>All Requests</h1>
<h3>Stand in for these people!</h3>

<div class="row">

  <% @request.each do |item| %>
  <% if item.requestor_id != current_user.id && item.status.capitalize == 'New' && Date.today <= item.event.date %>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading warning-color text-center">
        <h4>"<%=item.description%>"</h4>
      </div>
      <div class="panel-body text-center">

        <div class="view overlay hm-zoom hm-black-light">
          <iframe
          class="user-map z-depth-1"
          frameborder="0"
          style="border:0; width:100%; height:300px"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyByUpVKGIl-ZT0MxU0yJBBIDdL_SIEVrJg&origin=My+Location&destination=<%=item.event.location%>"
          allowfullscreen></iframe>
          <a href="requests/<%=item.id%>">
          <div class="mask flex-center">
            <h1 class="white-text"><%=item.event.name%>, $<%= item.cost %>0</h1>
          </div>
          </a>
        </div>

        <p>
          Requestor:
          <%= item.requestor.name %>
          <br>Event:
          <%= item.event.name %>
          <br>Date: <%= item.event.date.strftime("%e %B %Y") %>
          <br>Cost: $<%= item.cost %>0
          <br>Status:
          <%=item.status.capitalize!%></p>

          <%= link_to "View", request_path(item.id), class: "btn blue col-sm-3", style: "margin:0; font-size: 13px"%>
          <%= link_to "Standin for #{item.requestor.name}", request_path(item,"request[standin_id]" => current_user.id,"request[status]"=>'pending'), method: :patch, class: "btn green col-sm-9", style: "margin:0; font-size:13px" %>

        </div>
      </div>
    </div>

<% end %>
<%end%>

</div>
