<div class="card padding">

    <h1 class="text-center">Request for
        <%=@request.event.name%>
    </h1>

    <div class="card-block">

        <h4 class="text-center">
            <%= @request.requestor.name %>
            requested,
            <i>"<%= @request.description %>"</i>
        </h4>

        <iframe class="user-map z-depth-1" frameborder="0" style="border:0; width:100%; height:300px" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyByUpVKGIl-ZT0MxU0yJBBIDdL_SIEVrJg&origin=My+Location&destination=<%=@request.event.location%>" allowfullscreen></iframe>

        <div class="text-center">
            <br>
            <span class="badge green">Request</span>
            <h2>
                <i class="fa fa-calendar-o"></i>
                <%= @request.event.date.strftime("%e %B %Y") %>
                <br>
                <i class="fa fa-clock-o"></i>
                <%= @request.event.time.strftime("%I:%M %p") %>
                <br>
                <i class="fa fa-money"></i>
                $<%= @request.cost %>0
                <br>
                <%if @request.status.capitalize == 'Cancelled' %>
                <i class="fa fa-spinner"></i>
                Status:<br>
                <span class="badge red"><%= @request.status.capitalize %></span>
                <%else%>
                <i class="fa fa-spinner"></i>
                Status:<br>
                <span class="badge blue"><%= @request.status.capitalize %></span>
                <%end%>
            </h2>

            <h4>
                <i>"<%= @request.delivery_arrangement %>"</i>
            </h4>

            <p>
                Standin:
                <%if @request.standin_id != nil %>
                <%=@request.standin.name%>
                <%else%>
                Yet to be accepted
                <%end%>
            </p>

        </div>

        <%if @request.image_url != nil %>
        <%= image_tag (@request.image_url) %>
        <%else%>

        <%end%>

        <%if current_user%>

        <% if @request.status == "request cancelled" || @request.status == "completed" || @request.status == "event cancelled" || @request.status == "cancelled"%>
          <%= link_to 'Back', requests_path, class:"btn primary-color" %>
        <% else %>
          <%= link_to 'Edit', edit_request_path(@request), class:"btn warning-color" %>
          <%= link_to 'Back', landing_path, class:"btn primary-color" %>
          <%=link_to "Cancel Standin", request_path(@request, "request[status]"=>"cancelled"), method: :patch, class:"btn danger-color"%>
        <% end %>

        <%end%>

    </div>

</div>
