<div class="wrapper">
  <div class="response container">
    <div class="content" id="transaction-success">
      <% if @result %>
        <div class="icon">

        <% if @transaction.status == 'authorized' %>
          <img src="http://energyauditpeople.com/images/success-check-icon.png" width=150 alt="Success">
        <% else %>
          <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-fb707410a020d77346fcd2dc2f6cc93e-cross.png" width=150 alt="Failure">
        <% end %>

        </div>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another transaction or see the Braintree API response.</p>

          <%=@re%>
      </section>
      <% end %>

      <section>
        <a href="#" class="btn btn-primary">Go Back to Payment List</a>
        <a href="https://sandbox.braintreegateway.com/login" class="btn btn-danger">Edit Transaction via Merchant Account</a>
        <!-- <%= link_to 'Cancel Transaction', order_path, method: :get, data: {confirm: 'Are you sure?'}%> -->
      </section>

      <br><br>

      <section>
        <p>
          Transaction Amount: $<%= @transaction.amount %>
        </p>
        <p>
          Transaction Status: <%= @transaction.status %>
        </p>
        <p>
          Time of Transaction: <%= @transaction.created_at %>
        </p>
      </section>

    </div>
  </div>
</div>
