<h1>Welcome, <%= current_user.name %>!</h1>

<% if current_user.is_Admin %>
  <div class="card red padding">
      <h4 class="text-center">ADMIN ONLY
      <br><%= link_to "Create New Event", new_event_path, class: "btn danger-color-dark"%>
      <%= link_to "Set Admin Rights", users_path, class: "btn danger-color-dark"%></h4>
  </div>
<% end %>

<h2>My Requests <a href="/requests/new" class="btn green btn-raised"><span class="glyphicon glyphicon-plus"></span> Add new request</a></h2>

<div class="row">
  <% @request.each do |item| %>

    <% if item.requestor.id == current_user.id %>

      <div class="col-md-4">
        <div class="panel panel-default z-depth-5">
          <div class="panel-heading warning-color text-center"><h4><%=item.description%></h4></div>
          <div class="panel-body text-center">
            <%= image_tag item.image_url.thumbnail %>
            <p>Event: <%= item.event.name %></p>
            <p>Cost: $<%= item.cost %></p>
            <p>Status: <%=item.status.capitalize!%></p>

            <%if item.status == 'new' && item.standin_id == nil && item.requestor_id != current_user.id%>
            <%= link_to "Standin for #{item.requestor.name}", request_path(item,"request[standin_id]" => current_user.id,"request[status]"=>'pending'), method: :patch, class: "btn btn-primary"%>
            <%end%>

            <%if item.status == 'pending' && item.requestor_id == current_user.id%>
            <%= link_to 'Set Status to Completed',request_path(item, "request[status]"=>'completed'), method: :patch, class: "btn btn-primary"%>
            <%end%>

            <%if item.status == 'pending' && item.standin_id == current_user.id && item.event.date > Date.today%>
            <%= link_to 'Cancelled Standin',request_path(item, "request[status]"=>'new',"request[standin_id]" => ''), method: :patch, class: "btn btn-primary" %>
            <%end%>

            <%= link_to "View", request_path(item.id), class: "btn blue col-sm-6", style: "margin:0" %>
            <%= link_to "Edit", edit_request_path(item.id), class: "btn warning-color col-sm-6", style: "margin:0" %>

          </div>
        </div>
      </div>
    <% end %>
  <%end%>
</div>

<h2>Trending Events</h2>

<div class="row">
  <% @events.each do |item| %>
    <div class="col-md-4">
      <div class="card">
        <div class="view overlay hm-zoom">
          <%= image_tag item.image_url, class:"img-fluid", style:"max-width: 100%"%>
          <div class="mask flex-center">
            <h1 class="white-text"><%=item.name%></h1>
          </div>
        </div>

        <div class="card-block text-center" style="padding:0px">
          <p>Location: <%=item.location%><br>
          Date: <%=item.date.strftime("%e %B %Y")%><br>
          Time: <%=item.time.strftime("%I:%M %P")%><br>

          <%= link_to "View", request_path(item.id), class: "btn blue col-sm-6", style: "margin:0" %>
          <%= link_to "Request", new_request_path({:event_id=>item.id}), class: "btn green col-sm-6", style: "margin:0" %></p>
        </div>

      </div>
    </div>
  <%end%>
</div>
