<div class="wrapper">
  <div class="response container">
    <div class="content" id="transaction-success">
      <% if @result %>
        <div class="icon">

        <% if @braintree_transaction.status == 'authorized' %>
          <img src="http://energyauditpeople.com/images/success-check-icon.png" width=150 alt="Success">
        <% else %>
          <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-fb707410a020d77346fcd2dc2f6cc93e-cross.png" width=150 alt="Failure">
        <% end %>

        </div>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another @braintree_transaction or see the Braintree API response.</p>
      </section>
      <% end %>

      <section>
        <a href="/transactions/showTrans" class="btn primary">View all transactions</a>
      </section>

      <br><br>

      <section>
        <p>
          Transaction Amount: $<%= @braintree_transaction.amount %>
        </p>
        <p>
          Transaction Status: <%= @braintree_transaction.status.capitalize %>
        </p>
        <p>
          Time of Transaction: <%= @braintree_transaction.created_at %>
        </p>
      </section>

    </div>
  </div>
</div>
